/*  Global Styles
==========================*/
html {
  min-height: 100%;
  height: 100%;
}
body {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  background-size: cover;
  height: 100%;
  color: #F1FFFA;
}
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
p, select, option, span, input, button, label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
label {
  font-size: 14px;
}
a {
  color: #D5C7BC;
}
.page-header {
  font-size: 75px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-decoration: underline;
}
.survey-result {
  position: relative;
}
.back-button {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}
.back-button img {
  width: 100%;
  opacity: .4;
}
#frontEnd, #backEnd, #java, #maybeNot, #any, .survey-result, .back-button {
  display: none;
}

/*  Form Styles
==========================*/
.survey, .survey-result .card {
  height: 100%;
  background: rgba(147, 183, 190, .6);
  padding: 30px;
  border-radius: 10px;
  border: 5px solid #D5C7BC;
}
.form-control {
  background: #F1FFFA;
  border-color: #1B2735;
}
.form-control:focus {
  background: #F1FFFA;
}
.btn-primary {
  background: #785964;
  border: 0;
}
.btn-primary:hover {
  background: #D5C7BC;
}

/*  Result Styles
==========================*/
.user-name {
  text-transform: capitalize;
}

/*  Footer Styles
==========================*/
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin-top: 60px;
}

/*  Media Query Styles
==========================*/
@media screen and (min-width: 768px) {
  .page-header {
    font-size: 100px;
  }
}
