/*  Global Styles
==========================*/
.container {
    display: flex;
    justify-content: center;
}

.survey {
    width: 100%;
    max-width: 800px;
}

#frontEnd, #backEnd, #java, #cSharp, #ruby {
  display: none;
}
